{% extends "layout.html" %}
{% block content %}
<form action="{{ url_for('login') }}" method="POST">
  <div class="row">
    <div class="large-4 columns">
      <input type="text" name="user" placeholder="Username" />
    </div>
    <div class="large-4 columns">
      <input type="password" id="p" placeholder="Password" />
      <input type="hidden" name="passwd"/>
      <input type="hidden" name="seed"/>
    </div>
    <div class="large-4 columns">
      <input type="submit" class="tiny button" value="Login" onClick="seed.value=Date.now(); passwd.value=CryptoJS.MD5(CryptoJS.MD5(user.value+p.value)+seed.value);">
    </div>
  </div>
</form>
{% endblock %}
