{% extends "layout.html" %}
{% block content %}
<form data-abide action="{{ url_for('perfil') }}" method="POST">
  <div class="row">
    <div class="large-6 medium-6 columns">
      <label>User: <input type="text" disabled="disabled" name="user" placeholder="Usuario" value="{{u.user}}"/></label>
      <small class="error">Campo obligatorio</small>
    </div>
    <div class="large-6 medium-6 columns">
      <label>Name: <input type="text" name="name" placeholder="Name" required value="{{u.name}}"/></label>
      <small class="error">Campo obligatorio</small>
    </div>
  </div>
  <div class="row">
    <div class="large-6 medium-6 columns">
      <label>Contraseña: <input type="password" id="passwd1" placeholder="Contraseña" required pattern=""></label>
      <small class="error">La contraseña debe tener al menos 8 caracteres con 1 mayúscula, 1 número.</small>
    </div>
    <div class="large-6 medium-6 columns">
      <label>Repetir Contraseña: <input type="password" id="passwd2" required data-equalto="passwd1" placeholder="Repetir Contraseña"></label>
      <small class="error">Las contraseñas no coinciden</small>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <label>EMail: <input type="text" name="mail" placeholder="EMail" required value="{{u.mail}}"/></label>
      <small class="error">Campo obligatorio</small>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-8 columns">
      <input type="hidden" name="passwd"/>
      <button type="submit" class="tiny button" onClick="passwd.value=CryptoJS.MD5(user.value+passwd1.value)">Guardar</button>
    </div>
  </div>
</form>
{% endblock %}
